



{% extends "auctions/layout.html" %}
    
    {% block body %}
    <hr>
     {% for listing in listing %}
        <a href="{% url  'listing' listing.id %}">
            <div class="block">
                <div><img src="media/{{ listing.listimage }}" class="image" ></div>
            <div class="data" >
                <pre>    
            <strong>Name:</strong>  {{ listing.name }}
            <strong>Added on:</strong>  {{ listing.date }}
            <strong>Added By: </strong> {{ listing.added_by }}
            <strong>Category:</strong>  {{ listing.type }}

            <div class="bid"><strong>current Bid:</strong> {{ listing.maxp }}Rs</div>
            </pre>
                 </div>
            </div>
            <hr>
</a>
{% empty %}
       <h3>  No Active Listing in this Category</h3>
     {% endfor %}
     
{% endblock %}